/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-11-2016, 12:46:40 AM
    Author     : Oliverhacker
*/


.ttip{
     -fx-background-radius: 0 0 0 0;
     -fx-background-color:	linear-gradient(greenyellow   , limegreen );
}


.txt{
	-fx-border-color: red,linear-gradient(to bottom, derive(red,60%) 5%,derive(red,90%) 40%);
}
.med{
	-fx-background-color: orangered,linear-gradient(to bottom, derive(orangered,60%) 5%,derive(orangered,90%) 40%);
        -fx-background-image: url("../Imagenes/Information_48x48.png");
        -fx-background-size: 30 30;
}
.good{
	-fx-background-color: orange,linear-gradient(to bottom, derive(orange,60%) 5%,derive(orange,90%) 40%);
}
.best{
	-fx-background-color: green,linear-gradient(to bottom, derive(green,60%) 5%,derive(green,90%) 40%);
}